body{
    font-family: 'Roboto Condensed', sans-serif;
}

#back{
    cursor:pointer;
    margin-left: 60px;
    margin-top: 70px;
    opacity: 0.5;
    color: gray;
}

.atras{
    font-size: 21px;
    margin-top: -29.7px;
    color: gray;
    margin-left: 35px;
}

.back:hover{
    cursor:default;
}

.mac{
    float: left;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
}





.flores{
    margin-left: 50px;
}